### Python Basic Data Type

In [4]:
# list

a = [10, 20, 30, 40, 50]

print("a[0] == %d, a[2] == %d, a[4] == %d" % (a[0], a[2], a[4]))
print("a[-1] == {}, a[-2] == {}, a[-5] == {}".format(a[-1], a[-2], a[-5]))

a[0] == 10, a[2] == 30, a[4] == 50
a[-1] == 50, a[-2] == 40, a[-5] == 10

In [14]:
# variety data type

b = [ 10, 20, "Hello", [True, 3.14] ]

print("b[0] == {}, b[2] == {}, b[3] == {}".format(b[0], b[2], b[3]))
print("b[3][0] == {}, b[3][1] == {}".format(b[3][0], b[3][1]))
print("b[-1][-1] == {}, b[-1][-2] == {}".format(b[-1][-1], b[-1][-2]))

b[0] == 10, b[2] == Hello, b[3] == [True, 3.14]
b[3][0] == True, b[3][1] == 3.14
b[-1][-1] == 3.14, b[-1][-2] == True

In [32]:
# slicing

a = [ 10 * x for x in range(1,6)]

print("a[0:2] == %s, a[1:] == %s"% (a[0:2], a[1:]))
print("a[:3] ==", a[:3], ", a[:-2] == ", a[:-2])
print("a[:] == ", a[:])

a[0:2] == [10, 20], a[1:] == [20, 30, 40, 50]
a[:3] == [10, 20, 30] , a[:-2] ==  [10, 20, 30]
a[:] ==  [10, 20, 30, 40, 50]

In [34]:
# tuple

a = ( 10, 20, 30, 40, 50 )

# a[0] = 100     값 변경 불가 => 오류발생

print(a[:])

(10, 20, 30, 40, 50)

In [41]:
# dictionary

score = {
    "KIM" : 90,
    "LEE" : 85,
    "JUN" : 95
}

print("score[KIM] == ", score['KIM'])

score['HAN'] = 100   # 새 원소 추가
print(score)

# key , value

print(score.keys())
print(score.values())
print(score.items())

score[KIM] ==  90
{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}
dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
dict_values([90, 85, 95, 100])
dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

In [43]:
# string

a = "A73,CD"
print(a[1])
a = a + ', EFG'
print(a)

b = a.split(',')
print(b)

7
A73,CD, EFG
['A73', 'CD', ' EFG']

In [44]:
# type(), len()

a = [ 10, 20, 30, 40, 50 ]
b = ( 10, 20, 30, 40, 50 )
c = { "KIM":90, "LEE":80 }
d = 'Seoul, Korea'
e = [ [100, 200], [300, 400], [500, 600]]

print(type(a), type(b), type(c), type(d), type(e))
print(len(a), len(b), len(c), len(d), len(e))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>
5 5 2 12 3